<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @grupo.nome %>
</p>

<p>
  <b>Classe:</b>
  <%= @grupo.classe_id %>
</p>


<%= link_to 'Edit', edit_grupo_path(@grupo) %> |
<%= link_to 'Back', grupos_path %>
