
<div class="textbox">
	<h2>Lista de Imagens - Public(<%= Asset.count(:conditions => ["public = 1"])%>) No public(<%= Asset.count(:conditions => ["public = 0"])%>)
	
			<%= form_tag "/admin/posts/#{@post.id}", :method => 'get', :id => "assets_search" do %>
		<p>
			<%= text_field_tag :search, params[:search], :class => 'text' %>
			<%= submit_tag "Search", :name => nil,:class=>"submit" %>
		</p>
		<% end %>

	
    </h2>
	<table width="100%" cellspacing="0" cellpadding="0" class="sortable">
		<thead>
			<tr>
				<th width="10" class="header" style="cursor: pointer;">Img</th>
				<th width="10" class="header" style="cursor: pointer;">Public</th>
				<th width="100" class="header" style="cursor: pointer;">Titulo</th>
				<th width="200" class="header" style="cursor: pointer;">Desc.</th>
				<th width="100" class="header" style="cursor: pointer;">Url</th>
				<th></th>
			</tr>
		</thead>
	</table>
	<div class="rolagem" id="div">
		<table>
			<tbody>
				<% @assets.each do |as| %>
				<tr>
					<td width="10" ><%= image_tag as.imagem.url(:small), :style => "border:2px solid #999" %></td>
					<td width="10"><%= as.public %></td>
					<td width="100"><%= as.nome %></td>
					<td width="200"><%= truncate( as.descricao, :length => 25 ) %></td>
					<td width="100"><%= truncate( as.url, :length => 25 ) %></td>
					<td width="20"><%= link_to image_tag("admin/nav/media.png"), "/admin/assets/preview_detalhe_produto/#{as.id}" %></td>
					<td width="20"><%= link_to image_tag("admin/edit.png"), edit_admin_asset_path(as) %></td>
					<td width="20"><%= link_to image_tag("admin/close.png"), [:admin, as], :method => :delete, :confirm => 'Esta seguro disso?' %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<hr />
	<div class="apple_pagination">
		<%= will_paginate @assets %>
	</div>
</div>
