	<div class="slider_main">
		<div id="slider">
			<!-- start slideshow -->
			<div id="slideshow">
				<% @banners_topo.each do |bn| %>
				<div class="slider-item">
					<a href="<%= bn.url %>" title="<%= bn.nome %>"> <%= image_tag bn.banner.url %> </a>
				</div>
				<% end %>
			</div>
		</div>
	</div>
	<!--ITEMS!-->

	<div class="main_left fulllist">
			<div class="field">
					<img src="/images/contato.jpg" />

				<%= text_field_tag :nome, nil, :size => 30, :placeholder => "Nome" %>*
				<br />
				<%= text_field_tag :email, nil, :size => 30, :placeholder => "Email" %>*
				<br />

				<%= text_field_tag :telefone, nil, :size => 30, :placeholder => "Telefone" %>*
				<br />

				<%= text_area_tag :mensagem, nil, :placeholder => "Mensagem" %>*

				<br />
			<%= submit_tag "Enviar"%>

	</div>				
</div>				

	<div class="main_right" align="center">
		<div class="news">
			<img src="images/barra_like_news.png" width="331" height="53" />
			Receba com exclusividade em seu email, nossos lançamentos e promoções.
			<br/>
			<%= text_field_tag 'teste','' , :placeholder => "Seu E-mail" %>
			<%= submit_tag "Ok"%>
		</div>
		<hr />
		<div align="center">
			<div id="icons" align="center">
				<br />
				<ul class="lista-imagens">
					<% @grupos.each do |gp| %>
					<li class="lista-categorias">
						<%= link_to image_tag(gp.menu.url(:large)), grupo_path(gp.slug) %>
					</li>
					<% end %>
				</ul>
			</div>
		</div>
		<div>
			<% @banners_direita.each do |bd| %>
				<li>
					<%= link_to image_tag(bd.banner(:direito)), bd.url %>
				</li>
			<% end %>			
		</div>
		<div class="clr"></div>
	</div>