<div id="page-wrap">
	<div id="quem_somos">
		<a name="quem_somos"></a>
		<%= render 'quem_somos' %>
	</div>

	<div id="projetos_obras">		
	<div class="title"><%= image_tag("titles/barra-projectos-obra.png") %> </div>
		<a name="projetos_obras"></a> 
		<%= render 'projetos_obras' %>
	</div> 
	
	<div id="tecnologias">
		<a name="tecnologias"></a> 
		<%= render 'tecnologias' %>
	</div>

	<div id="contatos">
		<a name="contatos"></a> 
		<%= render 'contatos' %>
	</div>

</div>
