<body class="loginpage">
	<div id="header">
		<h1>Hotsite Generator - Adminstração - Login</h1>
	</div>
	<div id="content" class="loginbox">
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		<p>
			<label>Usuário:</label>
			<br />
			<%= f.email_field :email, :class => 'text' %>
		</p>
		<p>
			<label>Senha:</label>
			<br />
			<%= f.password_field :password,:class => 'text' %>
		</p>
		<p>
			<% if devise_mapping.rememberable? -%>
			<div>
				<%= f.check_box :remember_me %> <%= f.label :remember_me %>
			</div>
			<% end -%>
		</p>
		<p class="formend">
			<%= f.submit "Sign in",:class=>"submit" %>
		</p>
		<% end %>

	</div>
	
	
	<div class="flash_notice">
		<p align="center">
			<%= flash[:notice] %></br>
			 
			<small> <span class="style3">Powered by</span> 
			<%= link_to image_tag("/images/logon.png", :size => '85x35'), 'http://cheapdesign.com.br' %>
			<span class="style3">Version 0.0.1</span> </small>
	    </p> 
</body>


