<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title><%= @settings.titulo %></title>
  
		  <%= stylesheet_link_tag 'page_show', 'flexslider','tab' %>
  		  <%= javascript_include_tag 'jquery-1.7.1.min', 'rails','modernizr.custom', 'jquery.flexslider-min','shCore','shBrushJScript','posts/tab' %>
  		  <%= csrf_meta_tag %>
	</head>
	<body>
		<div class="content">
    		<%= yield %>
    	</div>
	</body>

</html>
